<app-navbar></app-navbar>
<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.director.name }}</mat-card-subtitle
      >
    </mat-card-header>
    <div class="content-container">
      <img
        src="{{ movie.imageurl }}"
        alt="{{ movie.title }}"
        class="movie-image"
      />
      <mat-card-actions class="button-container">
        <button
          mat-button
          color="primary"
          (click)="movieDescriptionDialog(movie.description)"
        >
          Description
        </button>
        <button
          mat-button
          color="primary"
          (click)="
            directorDialog(
              movie.director.name,
              movie.director.bio,
              movie.director.birthyear,
              movie.director.deathyear
            )
          "
        >
          Director
        </button>
        <button
          mat-button
          color="primary"
          (click)="genreDialog(movie.genre.name, movie.genre.description)"
        >
          Genre
        </button>
        <button class="fav-button" (click)="toggleFavorite(movie._id)">
          <mat-icon>{{
            isFavorite(movie._id) ? "favorite" : "favorite_border"
          }}</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
